<h1>Walkers</h1>

<div class="row">
  <%= @walkers.each do |walker| %>
    <h4><a href="/walkers/<%= walker.id %>"><%= walker.first_name %></a></h4>
    <h5><%= walker.email %></h5>
  <% end %>
</div>