<div class="well">
  <h1>Welcome to Woof</h1>

    <div>
    <h4>Need your dog walked?<a href="/owners/new">Create an account!</a></h4>
    </div>
    <div>
      <h4>Already a member? <a href="/login_owner">Log In</a></h4>
    </div>
    
   <br>
   
    <div>
    <h4>Help us walk some dogs! <a href="/walkers/new">Walk with a purpose!</a></h4>
    </div>
    
    <div>
    <h4>Already awesome? <a href="/login_walker">Log In</a></h4>
    </div>

</div>