<h1>Welcome To Woof! <%= @owner %></h1>




<div>
  <a href="/logout_owner">Logout</a>
  <a href="/owners/#{ @owner.id }/edit"> Edit</a>
</div> 

<div>
  <a href="/dogs/#{ @dog.id }/new">Add Puppy</a>
</div>